<div class="title-page">
  <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Configuración del cuestionario</h2>
</div>

<main>
  <div class="block-1">
    <div class="card">
      <div class="upload-area" 
          (click)="onUploadClick()" 
          (dragover)="onDragOver($event)" 
          (dragleave)="onDragLeave()" 
          (drop)="onDrop($event)">
          <input type="file" (change)="onFileChange($event)" #fileInput>
          <img src="/assets/img/subir-archivo.png" alt="Subir Archivo" class="upload-icon">
          <span *ngIf="fileName">{{ fileName }}</span>
          <span *ngIf="!fileName">Arrastra o sube archivos</span>
      </div>
      <button (click)="uploadFile()">Subir Archivo</button>
      <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Examen de Redes Bayesianas</h2>
      <p>Sin descripción</p>
      <div class="meta">
        <div>Tipo: Resultado</div>
        <div>Preguntas: {{nroPreguntas}}</div>
        <button (click)="indicarCantPreguntas()">Indicar nro de preguntas</button>
        <button (click)="generarPreguntas()">Generar preguntas</button>
      </div>
      
      <div class="session">
          <div class="session-data">
            <div style="display: flex;">
              <img src="/assets/img/sesion.png" alt="Icono">
              <div style="display: flex; flex-direction: column;">
                <span>Sesión 1</span>
                <p>Modelos de Redes Bayesianas</p>
              </div>
            </div>
            <div class="menu">
              <ul>
                <li>
                  <div class="menu-item" (click)="seleccionarHabilidad('Diseña y gestiona aplicaciones de sistemas inteligentes')">
                    <span class="arrow">&#9654;</span> Diseña y gestiona aplicaciones de sistemas inteligentes
                  </div>
                  <ul>
                    <li>
                      <div class="menu-item" (click)="seleccionarHabilidad('Analiza y define requerimientos para sistemas inteligentes')">
                        <span class="arrow">&#9654;</span> Analiza y define requerimientos para sistemas inteligentes
                      </div>
                    </li>
                    <li>
                      <div class="menu-item" (click)="seleccionarHabilidad('Comprende el modelo de redes bayesianas')" [ngClass]="{'selected': selectedItem === 'Comprende el modelo de redes bayesianas'}">
                        <span class="arrow" style="margin-left: 20px;">&#9654;</span> Comprende el modelo de redes bayesianas
                      </div>
                      <ul>
                        <li>
                          <div class="menu-item" (click)="seleccionarHabilidad('IA-3: Modelos predictivos')">
                            <span class="arrow">&#9658;</span> IA-3: Modelos predictivos
                          </div>
                          <ul>
                            <li>
                              <div class="menu-item" (click)="seleccionarHabilidad('Modelos de Redes Bayesianas')">
                                <span class="arrow">&#9658;</span> Modelos de Redes Bayesianas
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="menu-item" (click)="seleccionarHabilidad('Construye una infraestructura de extracción y procesamiento de datos')">
                        <span class="arrow" style="margin-left: 20px;" >&#9654;</span> Construye una infraestructura de extracción y procesamiento de datos
                      </div>
                      <ul>
                        <li>
                          <div class="menu-item" (click)="seleccionarHabilidad('Construye el dataset para redes bayesianas')"  [ngClass]="{'selected': selectedItem === 'Construye el dataset para redes bayesianas'}">
                            <span class="arrow">&#9658;</span> Construye el dataset para redes bayesianas
                          </div>
                          <ul>
                            <li>
                              <div class="menu-item" (click)="seleccionarHabilidad('IA-3: Modelos predictivos')">
                                <span class="arrow">&#9658;</span> IA-3: Modelos predictivos
                              </div>
                              <ul>
                                <li>
                                  <div class="menu-item" (click)="seleccionarHabilidad('Modelos de Redes Bayesianas')">
                                    <span class="arrow">&#9658;</span> Modelos de Redes Bayesianas
                                  </div>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <div class="menu-item" (click)="seleccionarHabilidad('Explora y transforma los datos para generar modelos predictivos')">
                        <span class="arrow" style="margin-left: 20px;">&#9654;</span> Explora y transforma los datos para generar modelos predictivos
                      </div>
                      <ul>
                        <li>
                          <div class="menu-item" (click)="seleccionarHabilidad('Desarrolla casos de redes bayesianas')" [ngClass]="{'selected': selectedItem === 'Desarrolla casos de redes bayesianas'}">
                            <span class="arrow">&#9658;</span> Desarrolla casos de redes bayesianas
                          </div>
                          <ul>
                            <li>
                              <div class="menu-item" (click)="seleccionarHabilidad('IA-3: Modelos predictivos')">
                                <span class="arrow">&#9658;</span> IA-3: Modelos predictivos
                              </div>
                              <ul>
                                <li>
                                  <div class="menu-item" (click)="seleccionarHabilidad('Modelos de Redes Bayesianas')">
                                    <span class="arrow">&#9658;</span> Modelos de Redes Bayesianas
                                  </div>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>                            
          </div>
      </div>
      
      <div class="footer">
          Inteligencia Artificial - Programa Ingeniería de Sistemas - Ciclo IX - Grupo G1
      </div>
    </div>
    
  </div>
  <div class="block-2">
    <div class="quiz-container">
      <div class="info-banner">
          Si desea realizar cambios en las preguntas debe despublicar el Cuestionario y/o eliminar la Evaluación
      </div>
      <div *ngFor="let pregunta of preguntas" class="question-card">
          <div class="question-header">
              <span class="question-type">Pregunta Opción Múltiple</span>
          </div>
          <div class="question-body">
              <p class="question-text">{{ pregunta.pregunta }}</p>
              <div class="options">
                  <div *ngFor="let option of pregunta.opciones" class="option">
                      <input type="radio">
                      <span class="{{option.num_opcion == convertirStringToNumber(pregunta.respuesta) ? 'correct' : 'incorrect'}}">
                          {{ option.opcion }}
                      </span>
                  </div>
              </div>
          </div>
          <div class="question-footer">
              <span>1 punto(s)</span>
          </div>
      </div>
    </div>
  </div>
</main>